{% extends 'cable_tv/main.html' %}
{% block head_menu %}
<div class="head_menu">
    <div class="center_wrap">
        <ul>
            <li><a href="{% url 'main_index' %}">Главная страница</a></li>
            <li><a href="{% url 'digital_channel_dvb_c' %}">Цифровые каналы</a></li>
            <li><a href="{% url 'support' %}">Для абонентов</a></li>
        </ul>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="sale">
    <div class="step_1">
        {% for adinfo in adinfos %}
        <div class="fa_1">
            <span class="title">{{ adinfo.name }} c {{ adinfo.date_start }} по {{ adinfo.date_finish }}</span>
            <ul>
                <li><pre>{{ adinfo.description }}</pre></li>
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
<div class="tv_chan">
    <div class="center_title">
        <span>Цифровые каналы</span>
    </div>
    {% spaceless %}
    <div class="step_2">
        <div class="fa_2">
            <div id="chanals">
                <div class="lf_1">
                    <div class="ad_inf">
                        <p>Начальная частота (сетевая частота): 306 МГц (306 000 кГц)</p>
                        <p>Конечная частота (сетевая частота): 450 МГц (450 000 кГц)</p>
                        <p>Символьная скорость (скорость передачи): 6950</p>
                        <p>Модуляция: 256 QAM</p>
                    </div>
                    <div class="filter">
                        <input type="text" id="fi_1" class="fi_1" name="fi_1" placeholder="Название канала"/>
                        <select name="fi_theme" id="fi_theme" class="fi_theme">
                            <option selected>Любая тематика</option>
                            {% for theme in themes %}
                                <option value="{{theme.id}}">{{theme.channel_theme}}</option>
                            {% endfor %}
                        </select>
                        <input class="fi_but" id="but_fi" type="button" value="Найти"/>
                    </div>
                    <table id="t_chanels">
                        <thead>
                            <tr>
                                <th class="c_1">*</th>
                                <th class="c_3">Название</th>
                                <th class="c_3">Частота</th>
                                <th class="c_5">Описание</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for chanel in chanels %}
                            <tr>
                                <td class="c_1">
                                        {{ chanel.number }}
                                    </p>
                                </td>
                                <td>
                                    <a href="{{ chanel.url }}" target="_blank">
                                            <img src="{{ MEDIA_URL }}{{ chanel.logo_image }}" alt="{{ chanel.name }}" />
                                            <br>{{ chanel.name }}
                                    </a>
                                </td>
                                <td class="c_1">
                                        {{ chanel.frequency }}
                                    </p>
                                </td>
                                <td>
                                    <p class="theme">
                                        {% for theme in chanel.themes.all %}
                                            {% if not forloop.first %}, {% endif %}
                                            {{ theme }}
                                        {% endfor %}
                                    </p>
                                    <p>{{ chanel.description }}</p>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endspaceless %}
</div>
{% endblock %}