{% load staticfiles %}
<div class="tv_chan">
    <div class="center_title">
        <span>Список ТВ каналов</span>
    </div>
    <div class="step_1">
        <div class="fa_1">
            <span class="title">Различная тематика ТВ каналов</span>
            <ul>
                {% for theme in themes %}
                    <li>{{theme.channel_theme}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="step_2">
        <div class="fa_1 but">
            <div><a href="{% url 'digital_channel_dvb_c' %}">Цифровые каналы</a></div>
        </div>
    </div>
</div>