{% extends 'base.html' %}
{% load static from staticfiles %}
{% block head %}
    <link href="{% static 'css/channels.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/jquery.tablesorter.min.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    {% include "cable_tv/menu.html" %}
    <div class="right_block">
        {% block channels_content %}{% endblock %}
    </div>
{% endblock %}