{% extends 'support/main.html' %}
{% block support_content %}
<div class="contacts">
    <div class="center_title">
        <span>Настройка ТВ</span>
    </div>
    <div class="step_1">
        <div class="fa_1">
            <iframe src="/media/docs/conf_tv.pdf" width="100%" height="800px" alt="Попробуйте в другом браузере"></iframe>
        </div>
    </div>
</div>
{% endblock %}

