{% extends 'support/main.html' %}
{% block support_content %}
<div class="contacts">
    <div class="center_title">
        <span>Контактная информация</span>
    </div>
    <div class="step_1">
        {% for contact in contacts %}
        <div class="fa_1">
            <div class="f_inf">
                <span>{{ contact.phone }}</span>
                <span><a class="link" href="mailto:{{ contact.email }}" >{{ contact.email }}</a></span>
             </div>
            <div class="over_map">
                <span class="adres">Наш адрес: г. Ростов-на-Дону {{ contact.address }}</span>
                <div id="map"></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}