{% extends 'support/main.html' %}
{% block support_content %}
<div class="contract">
    <div class="center_title">
        <span>Действия с договором</span>
    </div>
    <div class="step_1">.
        {% for contact in contacts %}
        <div class="fa_1">
            <ul>
                <li>
                    <a href="{% url 'reregistration' %}">Переоформление</a>
                </li>
                <li>
                    <a href="{% url 'suspension' %}">Приостановление</a>
                </li>
                <li>
                    <a href="{% url 'termination' %}">Расторжение</a>
                </li>
                <li>
                    <a href="{% url 'moving' %}">Переезд по другому адресу</a>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}