{% extends 'support/main.html' %}
{% block support_content %}
<div class="ind">
    <div class="step_1">
        <div class="center_title">
            <span>Абонентское обслуживание</span>
        </div>
        {% for contact in contacts %}
        <div class="fa_1">
            <p>Наиболее важные вопросы по разным категориям</p>
            <p>Если Вы не нашли ответ на свой вопрос, позвоните нам <b>{{ contact.phone }}</b></i></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}