{% extends 'base.html' %}
{% load static from staticfiles %}
{% block head %}
    <link href="{% static 'css/support.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'js/leaflet_markercluster/MarkerCluster.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'js/leaflet_markercluster/MarkerCluster.Default.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/leaflet_markercluster/coords.js' %}" type="text/javascript"></script>
    <script src="http://maps.api.2gis.ru/2.0/loader.js" data-id="dgLoader"></script>
    <script src="http://catalog.api.2gis.ru/assets/apitracker.js"></script>
{% endblock %}
{% block content %}
    {% include "support/menu.html" %}
    <div class="right_block">
        {% block support_content %}{% endblock %}
    </div>
{% endblock %}