<div id="over_menu">
    <ul id="cont_menu">
        <li>
            <a class="m" href="{% url 'main_index' %}"><span>Главная страница</span></a>
        </li>
        <li class="m">
            <a href="{% url 'contacts' %}"><span>Контактная информация</span></a>
        </li>
        <li>
            <a class="m" href="{% url 'rate' %}"><span>Тарифы</span></a>
        </li>
        <li>
            <a class="m" href="{% url 'zone' %}"><span>Зона охвата</span></a>
        </li>
        <li>
            <a class="m" href="{% url 'out_of_service' %}"><span>Вызов специалиста</span></a>
        </li>
        <li>
            <a class="m" href="{% url 'pay' %}"><span>Способы оплаты</span></a>
             <ul class="submenu">
                <li>
                    <a href="{% url 'sberbank' %}">Сбербанк</a>
                </li>
                <li>
                    <a href="{% url 'centrinvest' %}">Центр-Инвест</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="m" href="{% url 'contract' %}"><span>Действия с договором</span></a>
            <ul class="submenu">
                <li>
                    <a href="{% url 'reregistration' %}">Переоформление</a>
                </li>
                <li>
                    <a href="{% url 'suspension' %}">Приостановление</a>
                </li>
                <li>
                    <a href="{% url 'termination' %}">Расторжение</a>
                </li>
                <li>
                    <a href="{% url 'moving' %}">Переезд по другому адресу</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="m" href="{% url 'adhrw' %}"><span>Настройка приставки</span></a>
        </li>
        <li>
            <a class="m" href="{% url 'conf_tv' %}"><span>Настройка ТВ</span></a>
        </li>
        <li class="m">
            <a href="http://tv.mail.ru/?channel=1,1352,1590,1250,4,1589,1591,336,414,409,255,330,874,227,214,226,284,552,216,623,655,650,630,369,530,407,620,432,682,677,1014,1017,1030,1035,1061,1071,1080,1216,503,109,1045,1170,560,1037,241,1592,400,204,1044,276,107,108,1657,555" target="_blank"><span>Программа телепередач</span></a>
        </li>
    </ul>
    <div id="fl"></div>
</div>