{% extends 'support/main.html' %}
{% block support_content %}
<div class="moving">
    <div class="center_title">
        <span>Переезд по другому адресу</span>
    </div>
    <div class="step_1">
        {% for contact in contacts %}
        <div class="fa_1">
            <p><b>Что делать при смене места жительства?</b></p>
            <p>При смене места жительства необходимо в офисе компании по адресу {{ contact.address }} имея при себе паспорт, написать заявление о расторжении договора по прежнему адресу,
            погасить существующую задолженность по договору и, при наличии технической возможности
            предоставления услуги по новому адресу, заключить новый договор.</p>
            <p>Обращаем Ваше внимание, что при одностороннем отказе от услуг компании по любым
            причинам, Вам обязательно необходимо расторгнуть договор, так как в противном случае у Вас
            будет происходить накопление задолженности по абонентской плате.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}