{% extends 'support/main.html' %}
{% block support_content %}
<div class="out_of_service">
    <div class="center_title">
        <span>Вызов специалиста</span>
    </div>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
    </ul>
    {% endif %}
    <div class="step_1">
        <div class="fa_1">
        <form id="form_ticket_1"  action="{% url 'out_of_service_post' %}" method="POST">
            {% csrf_token %}
            {{ requisitions.street }}
            <select id="street_sel" name="street_sel">
                <option selected disabled>Выберите улицу</option>
                {% for street in r_streets %}
                    <option value="{{street.id}}">{{street.name}}</option>
                {% endfor %}
            </select>
            {{ requisitions.house }}
            <select id="house_sel" name="house_sel">
                <option selected disabled>Выберите дом</option>
            </select>
                {{ requisitions.apartment }}
                {{ requisitions.name }} <br>
                {{ requisitions.phone }}
                <input id="id_status" maxlength="20" name="status" value="Вызов специалиста" type="hidden">
            <input class="but_subm" id="but_ticket_1" type="submit" value="Отправить"/>
        </form>
        </div>
    </div>
</div>
{% endblock %}