{% extends 'support/main.html' %}
{% block support_content %}
<div class="pay">
    <div class="center_title">
        <span>Способы оплаты</span>
    </div>
    <div class="step_1">
        <div class="fa_1">
            <p><b>Где можно оплатить?</b></p>
            <p>Оплату за кабельное телевидение можно производить в банках <b>"Центр-Инвест"</b>, <b>"Сбербанк"</b>.<br>
            Вы также можете произвести оплату в любом другом банке или интернет-банке. Но в
            этом случае Вам может быть начислена комиссия за услуги этого банка.</p>
            <p>Реквизиты для оплаты:</p>
            <p><b></b>ИНН 6164304778<b></b></p>
        <p class="warn"><b>Внимание</b></p>
        <ul>Осуществляя оплату за услуги КТВ, Абонент в обязательном порядке указывает следующие данные:
            <li>номер своего договора (000_/номер кв.), на который подлежит зачислению платеж;</li>
            <li>адрес подключения к услуге;</li>
            <li>свою фамилию и инициалы.</li>
        </ul>
        <p><i>В случае неуказания этих данных, Оператор не несет ответственности за правильность
            списания поступающих платежей.</i></p>
        </div>
    </div>
</div>
{% endblock %}