{% extends 'support/main.html' %}
{% block support_content %}
<div class="rate">
    <div class="center_title">
        <span>Тарифы</span>
    </div>
    <div class="step_1">
    <div class="fa_1">
        <span class="title">Стоимость подключения</span>
        {% for rate in rates %}
            <span class="pay">{{ rate.first }}р</span>
        {% endfor %}
        <ul>
            <li>Последующих ТВ точек еще дешевле!</li>
        </ul>
    </div>
    <div class="fa_1">
        <span class="title">Абонентская плата</span>
        {% for rate in rates %}
            <span class="pay">{{ rate.month }}р</span>
        {% endfor %}
        <ul>
            <li>Не зависит от количества подключенных у Вас ТВ</li>
        </ul>
    </div>
</div>
</div>
{% endblock %}