{% extends 'support/main.html' %}
{% block support_content %}
<div class="recalculation">
    <div class="center_title">
        <span>Пересчет абоненской платы</span>
    </div>
    <div class="step_1">
        <div class="fa_1">
            <p><b>В каких случаях возможен перерасчёт абонентской платы?</b></p>
            <p>При условии, что у вас не работает кабельное телевиденье по нашей вине,
                а заявка на вызов специалиста была оставлена оператору.</p>
        </div>
    </div>
</div>
{% endblock %}