{% extends 'support/main.html' %}
{% block support_content %}
<div class="renewal">
    <div class="center_title">
        <span>Возобновление договора</span>
    </div>
    <div class="step_1">
        {% for contact in contacts %}
        <div class="fa_1">
            <p><b>Как возобновить обслуживание по договору?</b></p>
            <p>Необходимо написать соответствующее заявление: на электронную почту {{ contact.email }}
                или в офисе компании по адресу {{ contact.address }} с паспортом.</p>
            <p>Кроме того, Вы можете приостановить обслуживание сроком на один,
                два и более календарных месяцев (с 1-го по 1-е число).</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}