{% extends 'support/main.html' %}
{% block support_content %}
<div class="reregistration">
    <div class="center_title">
        <span>Переоформление договора</span>
    </div>
    <div class="step_1">
        {% for contact in contacts %}
        <div class="fa_1">
            <p><b>Что необходимо для переоформления договора по инициативе абонента?</b></p>
            <p>Для переоформления договора по инициативе абонента на другого пользователя
            необходимо вместе, имея при себе паспорта, подъехать в офис компании по адресу {{ contact.address }}, и  переоформить договор.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}