{% extends 'support/main.html' %}
{% block support_content %}
<div class="sberbank">
    <div class="center_title">
        <span>Оплата</span>
    </div>
    <div class="step_1">
        {% for contact in contacts %}
        <div class="fa_1">
            <p><b>Как оплатить в "Сбербанке"?</b></p>
            <p>Оплату за кабельное телевидение можно производить в любом отделении "Сбербанка", а также в банкоматах и терминалах самообслуживания,
            либо в <a class="link" href="https://online.sberbank.ru/" target="_blank">Сбербанк ОнЛ@йн</a></p>
            <p>При оплате Вам необходимо знать номер своего лицевого счета, который совпадает  с цифрами номера Вашего договора.</p>
            <p><a href="{{ MEDIA_URL }}/docs/receipt_sberbank.doc">Здесь</a> можно взять образец квитанции.</p>
            {% for pay in pays %}
            <table class="t_pay">
                <tr>
                    <td>Получатель</td>
                    <td>{{ pay.receiver }}</td>
                </tr>
                <tr>
                    <td>ИНН</td>
                    <td>{{ pay.vat_id }}</td>
                </tr>
                <tr>
                    <td>Расч. счёт</td>
                    <td>{{ pay.account_settlement }}</td>
                </tr>
                <tr>
                    <td>в Банке</td>
                    <td>{{ pay.bank_beneficiary }}</td>
                </tr>
                <tr>
                    <td>БИК</td>
                    <td>{{ pay.bic }}</td>
                </tr>
                <tr>
                    <td>Корр. счёт</td>
                    <td>{{ pay.account_correspondent }}</td>
                </tr>
            </table>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}