{% extends 'support/main.html' %}
{% block support_content %}
<div class="suspension">
    <div class="center_title">
        <span>Приостановление договора</span>
    </div>
    <div class="step_1">
        {% for contact in contacts %}
        <div class="fa_1">
            <p><b>Как приостановить обслуживание по договору?</b></p>
            <p>Вы можете приостановить действие договора на срок от одного до трех (не более)
                календарных месяцев (с 1-го по последнее число месяца). Для этого Вам необходимо
                написать соответствующее заявление. Образец заявления есть на нашем сайте в
                разделе <a class="link" href="{% url 'license_page' %}">«Документы»</a>. Отсканированную копию заявления Вы можете отправить нам по
                электронной почте на адрес <a class="link" href="mailto:{{ contact.email }}" >{{ contact.email }}</a>.</p>
            <p>Также, имея при себе паспорт, Вы можете написать заявление в офисе нашей компании
                по адресу {{ contact.address }}.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}