{% extends 'support/main.html' %}
{% block support_content %}
<div class="termination">
    <div class="center_title">
        <span>Расторжение договора</span>
    </div>
    <div class="step_1">.
        {% for contact in contacts %}
        <div class="fa_1">
            <p><b>Как расторгнуть договор</b></p>
            <p>Для расторжения договора по инициативе абонента, необходимо в офисе компании по адресу  {{ contact.address }},
                имея при себе паспорт, написать заявление о расторжении договора и погасить существующую задолженность по договору.</p>
            <p>Обращаем Ваше внимание, что при одностороннем отказе от услуг компании по любым
                причинам, Вам необходимо обязательно расторгнуть договор, так как в противном случае у Вас
                будет происходить накопление задолженности по абонентской плате.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}