{% extends 'support/main.html' %}
{% block support_content %}
<div class="zone">
    <div class="center_title">
        <span>Зона охвата</span>
    </div>
    <div class="step_1">
        <div class="fa_1">
            <span class="title">Скорее всего мы уже обслуживаем Ваш дом</span>
                <select id="street_sel" name="street_sel">
                    <option selected disabled>Выберите улицу</option>
                    {% for street in r_streets %}
                        <option value="{{street.id}}">{{street.name}}</option>
                    {% endfor %}
                </select>
            <select id="house_sel" name="house_sel">
                <option selected disabled>Выберите дом</option>
            </select>
            <div class="fa_2">
                 <div id="map"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}