.head_menu a{
padding: 10px 85px 5px 110px;
}
.filter {
overflow : auto;
margin: 20px 0px 20px 20px;
}
div [class*="fi_"] {
float : left;
height : 35px;
margin : 0 4px 0 3px;
}
.filter .fi_1 {
width : 542px;
height: 34px;
}
.filter .fi_theme {
height : 36px;
padding-left : 20px;
min-width : 196px;
}
.filter .fi_but {
height : 36px;
margin-left : 0;
width : 141px;
}
.tv_chan .step_2 {
height : auto;
}
.tv_chan .step_2 .fa_2{
width : 98%;
overflow : hidden;
padding-bottom: 0px;
}
.tv_chan .bl {
width: 100px;
max-width: 150px;
}
.tv_chan .bl span {
display: inline-block;
}
.lf_1 {
padding : 5px 0 0 0;
}
.lf_1 table {
min-width : 940px;
}
.lf_1 .c_1 {
width : 40px;
}
.lf_1 .c_2 {
width: 0;
}
.lf_1 .c_5 {
width: 500px;
text-align: center;
}
.lf_1 td {
width : 120px;
text-align : center;
}
.lf_1 tr {
height : 30px;
vertical-align : bottom;
}
.lf_1 img {
width : 60px;
}
#chanals table {
border-collapse: collapse;
width: 100%;
}
#chanals tbody tr:nth-child(odd) {
background: rgba(226, 226, 226, 1)
}
#chanals thead {
line-height:50px;
}
#chanals td:nth-child(4n+4){
text-align: justify;
width: 100px;
padding-right: 10px;
padding-left: 10px;
vertical-align: top;
}
#chanals td{
padding-top:14px;
}
#chanals td:nth-child(4n+2){
max-width: 85px;
width: 110px;
}
#chanals tbody .theme{
text-align: center;
padding-bottom: 10px;
}
#chanals .add_chanals{
display: block;
text-align: center;
margin-top: 3px;
margin-bottom: 0px;
padding-top: 5px;
padding-bottom: 5px;
cursor: pointer;
color: #144DA6;
font-size: 18px;
background: rgba(226, 226, 226, 0.56);
}
#chanals .add_chanals:hover{
background: rgba(0, 40, 166, 0.16);
}
div.other_ltitle{
width: 500px;
float: left;
padding-top: 5px;
padding-bottom: 5px;
}
div.other_rtitle{
width: 500px;
}
div.other_rtitle a{
float: right;
margin-right:5px;
padding: 5px 222px;
background-color: #f7f7f7;
}
div.other_ltitle a{
padding: 5px 222px;
margin-left:5px;
background-color: #f7f7f7;
}
div.other_ltitle a:hover,
div.other_rtitle a:hover{
background-color: #d0d6ea;
}
