@-moz-document url-prefix() {
    .tel_number{box-shadow: 0px 0px 1.5px 1px rgba(255, 255, 255, 1)}
}
@font-face {
    font-family:  Arial, Fira Sans, sans-serif;
    font-weight: normal;
    font-style: normal;
}
body{
overflow-x: hidden;
font-family:  Arial, Fira Sans, sans-serif;
font-size: 14px;
background: url(/media/pic/background/_01.png) no-repeat center center fixed;
background-color : rgba(223, 223, 223, 0.22);
background-size: cover;
}
* {
margin : 0px;
padding: 0px;
}
.head {
min-width : 1000px;
}
.info_head {
background : #f7f7f7;
width : 100%;
height : 60px;
border-bottom : 1px double #999;
padding : 5px 0 0;
}
.info_head .center_wrap {
width : 780px;
position : relative;
margin : 0 auto;
}
.logo {
background : url(/media/pic/logo_top.png) left center no-repeat;
background-size : contain;
height : 50px;
width : 100px;
position : relative;
float : left;
}
.logo .name {
display : block;
margin-left : -20px;
padding-top : 16px;
}
.inf_cont {
position : relative;
float : left;
height : 50px;
width : 170px;
}
.room {
position : relative;
float : left;
margin-left : 50px;
//background : url(/media/pic/in_door.png) right center no-repeat;
height : 51px;
}
.room span a{
display : block;
//padding-right : 60px;
margin-left: 35px;
padding-top : 16px;
color: #144DA6;
}
.t_number {
font-size : 1.3em;
}
.cont_c {
display : block;
padding : 10px 0 0 12px;
}
.head_menu {
z-index : 1;
background : #f7f7f7;
height : 35px;
box-shadow : 0 5px 5px rgba(0, 0, 0, 0.1);
width : 100%;
border-bottom : 1px solid rgba(28, 28, 190, 0.2);
}
ul {
list-style-type : none;
}
.scroll {
top : -2px;
position : fixed;
background : rgba(226, 226, 226, 1);
border-bottom : 1px solid rgba(28, 28, 190, 0.2);
}
a {
text-decoration : none;
color : #000;
}
a:hover{
color: #144DA6;
}
.info_head .center_wrap > div {
padding-left : 95px;
}
.head_menu a {
font-size : 1.1em;
margin-left : 0;
padding: 10px 99px 5px 110px;
}
.head_menu a:hover {
background : rgba(0, 40, 166, 0.16);
color : #144DA6;
}
.center_wrap > ul > li {
display : inline-block;
padding-top : 9px;
margin-left : 5px;
}
.center_wrap ul {
list-style : none;
}
.content .collage {
box-shadow : 0 1px 15px rgba(90, 20, 0, 0.22) inset;
margin : 5px auto;
max-width : 900px;
max-height : 200px;
overflow : hidden;
}
.connect > div, .zone > div, .tv_chan > div, .sale > div {
overflow : auto;
height : auto;
}
.center_title {
border-bottom : 3px double rgba(36, 55, 153, 0.14);
font-size : 2em;
text-shadow: rgba(255, 255, 255, 0.15) 1px 0px, rgba(255, 255, 255, 0.15) 1px 1px, rgba(255, 255, 255, 0.15) 0px 1px, rgba(255, 255, 255, 0.19) -1px 1px, rgba(255, 255, 255, 0.21) -1px 0px, rgba(255, 255, 255, 0.21) -1px -1px, rgba(255, 255, 255, 0.17) 0px -1px, rgba(255, 255, 255, 0.2) 1px -1px;
text-align : center;
margin-bottom : 35px;
}
.fa_1 {
text-align : center;
}
.fa_1, .fa_2 {
background-color: rgba(255, 255, 255, 0.97);
box-shadow : 0 0 10px 0 rgba(0, 0, 0, 0.45);
border : rgba(244, 244, 244, 1) double 3px;
width : 48%;
height : auto;
padding-bottom : 30px;
float : left;
margin : 15px 7px;
}
.title {
display : block;
font-size : 1.3em;
}
.fa_1 .title {
padding : 30px 0 20px 0;
}
.step_1 ul, .step_2 ul {
text-align: justify;
padding-left: 15px;
padding-right: 15px;
padding-top: 10px;
}
.step_1 ul li, .step_2 ul li {
padding : 5px 0;
}
.tv_chan .step_1 .fa_1{
width : 98%;
}
input {
height : 34px;
font-size : 20px;
cursor : pointer;
margin : 30px 0 0 40px;
border : #A9A9A9 solid 1px;
}
select {
border : #A9A9A9 solid 1px;
padding-left : 20px;
cursor:pointer;
}
input[type="text"] {
width : 385px;
cursor : text;
height : 32px;
padding : 0 0 0 20px;
}
#show_kb.but_show {
margin : 45px 0 0 25px;
}
.tv_chan .fa_1 ul {
width : 200px;
padding-left : 80px;
list-style-type : disc;
}
.tv_chan li {
text-align : left;
}
#house_sel, #street_sel {
height : 34px;
margin-left : 40px;
width : 407px;
margin-top : 30px;
cursor : pointer;
}
.but_subm {
width : 197px;
margin : 1px 0 0;
background-color:rgba(169, 169, 169, 0.32);
}
.footer .title, .t_number {
color : #144DA6;
}
input[type="text"]:focus {
border : #144DA6 solid 1px;
}
input[type="submit"]:active, input[type="button"]:active {
color : rgb(51, 51, 51);
}
.content > div {
margin : 50px auto;
}
.content .connect {
width : 1000px;
margin : 60px auto 0 auto;
overflow : auto;
}
.fa_1 .tel {
float : right;
width : 280px;
font-size : 2em;
color : #B0B0B0;
margin : -38px -5px 0 0;
}
.fa_1 .tel_number {
cursor : text;
width : 184px;
}
.content .zone {
width : 1000px;
}
.zone .fa_1 ul {
width : 400px;
padding-top : 25px;
}
.zone .fa_1 {
width : 98%;
}
.zone .fa_2 {
width : 98%;
height : auto;
border : #f1f1f1 double 3px;
background-color : #EEE;
}
#id_description {
height : 279px;
width : 402px;
resize : vertical;
margin : 20px 0 -20px 40px;
}
#z_description {
height : 279px;
width : 402px;
resize : vertical;
margin : 20px 0 -20px 40px;
}
#map {
width : 100%;
height : 550px;
z-index : 0;
margin-bottom : -30px;
}
#map .leaflet-popup-content-wrapper {
padding-top : 10px;
}
.tel_number {
width : 200px;
}
.hide_area_1 {
margin : 15px 0 -3px 140px;
}
#show_kb {
width : 197px;
}
#form_ticket_3 {
margin-bottom : -8px;
}
.sale {
height : auto;
width : 1000px;
margin : 0 auto;
}
.sale .step_1 .fa_1 {
width : 98%;
}
.sale .fa_1 li {
overflow-wrap : break-word;
}
.footer {
overflow:hidden;
width : 102%;
bottom : 0;
left : 0;
background : rgba(226, 226, 226, 1);
box-shadow : 0 -5px 5px rgba(0, 0, 0, 0.1);
border-top : 1px solid rgba(28, 28, 190, 0.2);
}
.footer .foob {
width : 100%;
padding-top : 30px;
}
.footer span {
text-align : right;
padding-bottom: 3px;
}
.footer ul {
width : 100%;
padding : 30px 0 0;
}
.footer ul li {
text-align : right;
padding-top : 5px;
}
.tvk ul li {
text-align : justify;
}
.ft_inf {
overflow : hidden;
}
.ft_inf > div {
float : left;
width : 150px;
}
.ft_inf .tvk {
width: 350px;
margin-left: 140px;
}
.ft_c {
left : 0;
bottom : 0;
margin-top : 25px;
border-top : 1px double #999;
}
.ft_c .ft_2 {
padding-left : 50%;
margin-left : -60px;
padding-top : 2px;
padding-bottom : 2px;
}
.footer .ft_c .ft_2{
margin-top: 3px;
}
.head_menu .center_wrap, .footer .center_wrap {
width : 1000px;
position : relative;
margin : 0 auto;
}
.onoffswitch-checkbox, .hide, .hide_area_2, .hide_chanals {
display : none;
}
.connect .inf, .tv_chan ul, .tv_chan #chanals {
width : 100%;
}
.connect > .fa_1 {
float : none;
width : 98%;
}
#form_ticket_1, #form_ticket_2 {
height : auto;
padding-bottom : 10px;
}
.contects {
margin-left : 150px;
}
#arr_streer_house {
display : none;
}
#r_phone {
margin-top : 30px;
margin-left : 0;
}
.no_sh input[type="checkbox"] {
display : none;
}
.no_sh {
margin-top : 0;
}
.no_sh span {
float : left;
margin-top : 30px;
color : #000;
text-align : center;
cursor : pointer;
display : block;
border : #A9A9A9 solid 1px;
height : 32px;
line-height : 35px;
width : 405px;
margin-left : 81px;
}
.no_sh input[type="checkbox"]:checked + span {
background : url(/media/pic/requisition/yes.png) 7% center no-repeat;
background-size : 15px 13px;
}
.head .messages {
text-align : center;
}
.messages > li {
padding-top : 10px;
padding-bottom : 10px;
text-align: center;
}
.messages .success {
background : rgba(0, 40, 166, 0.16);
color : #144DA6;
}
.messages .error {
background: rgba(249, 11, 11, 0.65);
color : #fff;
}
#t_chanels td a{
word-wrap: break-word;
}
#t_chanels thead th{
cursor:pointer;
box-shadow: inset -1px 5px 10px 0px rgba(50, 50, 50, 0.03);
}
#t_chanels thead .c_1{
padding-left: 0px;
}
.headerSortUp,
.headerSortDown{
background: rgba(226, 226, 226, 1);
}
.fa_1.but div a{
margin-top: 30px;
float:left;
padding:10px;
font-weight: 600;
border : #A9A9A9 solid 1px;
background-color:rgba(169, 169, 169, 0.32);
}
.fa_1.but div a:hover,
.but_subm:hover{
background: rgba(0, 40, 166, 0.16);
color: #144DA6;
}
.fa_1.but div:nth-child(1) a{
margin-left: 42%;
}
.tv_chan {
height : auto;
width : 1000px;
margin : 70px auto;
}
.fa_1.but{
width:98%;
}
*[type="hidden"] {
display: none;
}
.ad_inf{
padding-left: 23px;
padding-top: 10px;
}
.ad_inf p{
padding-top: 2px;
}