.ifr{
float: right;
width: 97%;
height: 800px;
margin-right: 20px;
background-color: rgba(255, 255, 255, 0.97);
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
border: rgba(244, 244, 244, 1) double 3px;
}
.ind .fa_1{
text-align: left;
padding-top: 20px;
}
.ind a{
text-align: left;
padding-left: 20px;
line-height: 1.5;
}
