.submenu {
padding: 0px 0px;
padding-bottom:1px;
}
.submenu li {
padding-left: 15px;
margin-bottom:2px;
}
.submenu a:hover {
	color:#000;
}
.contract .step_1{
overflow: auto;
}
#cont_menu li a {
padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
color: #000;
display: block;
text-decoration: none;
border: 1px solid rgba(0, 0, 0, 0.33);
-webkit-box-shadow: inset 0px 0px 6px 0px rgba(50, 50, 50, 1);
-moz-box-shadow: inset 0px 0px 6px 0px rgba(50, 50, 50, 1);
box-shadow: inset 0px 0px 6px 0px rgba(255, 255, 255, 1);
}
#cont_menu li a:hover {
	background: rgba(0, 40, 166, 0.16);
	color: #144DA6;
}
#cont_menu > li {
padding-top: 1px;
padding-bottom: 1px;
}
.right_block p:nth-child(1),
.right_block .warn
{
color: #144DA6;
}

.m {
background: rgba(104, 104, 105, 0.09);
}
.fake{
min-width: 270px;
}
#over_menu{
background-color: rgba(255, 255, 255, 0.66);
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.63);
border: 3px double rgba(255, 253, 253, 1);
left:0px;
float:left;
min-width: 270px;
width: 19%;
}
#fl {
position : relative;
float : right;
color : #fff;
margin-top : -300px;
}
.content {
overflow : auto;
min-width : 1000px;
min-height: 100%;
}
.contacts .fa_1 {
width : 98%;
margin-left : 5px;
}
.content .right_block {
margin-left : 280px;
min-width : 700px;
padding-left : 0;
overflow:auto;
}
.right_block .contacts {
padding-right : 0;
margin-right : 20px;
}
.zone .fa_2 {
box-shadow : none;
}
.right_block .center_title {
margin-left : 0;
margin-right : auto;
padding-left : 0;
}
.right_block .contacts .step_1 {
padding-left : 2px;
}
.right_block .rate .step_1 {
width : 100%;
}
.contacts {
width : 100%;
padding-left : 0;
}
.f_inf {
margin-top : 45px;
text-align : left;
padding-left : 25px;
float : left;
}
.f_inf span {
display : block;
padding-top : 20px;
}
.contacts #map {
float : right;
width : 65%;
height : 400px;
position : relative;
margin-top : 30px;
margin-bottom : 0;
}
.right_block > div {
margin-top : 12px;
}
.rate .fa_1, .rate .fa_2 {
width : 47%;
}
.rate .fa_1:last-child {
margin-left : 10px;
}
.right_block .zone {
width : 100%;
}
.right_block .zone .fa_1 {
padding-bottom : 0;
}
.right_block .zone .fa_2 {
padding-bottom : 20px;
}
.adres {
margin-left : auto;
margin-right : auto;
padding-left : 20%;
}
.over_map {
margin-top : 20px;
margin-right : 25px;
}
.right_block p {
padding-bottom : 0;
padding-top : 20px;
padding-left : 20px;
border-right-width : 2px;
padding-right : 20px;
text-align : justify;
}
.right_block .reregistration .fa_1, .right_block .suspension .fa_1, .right_block .contract .fa_1, .right_block .renewal .fa_1, .right_block .recalculation .fa_1, .right_block .moving .fa_1, .right_block .ind .fa_1, .right_block .pay .fa_1, .right_block .sberbank .fa_1, .right_block .termination .fa_1 {
width : 98%;
}
.right_block p:last-child {
padding-bottom : 0;
}
.right_block .zone .fa_2 {
text-align : left;
}
.rate .pay {
width : 180px;
font-size : 5em;
color : rgba(20, 77, 166, 0.77);
}
.t_pay tr {
text-align : left;
}
.t_pay td {
padding-right : 50px;
padding-top : 2px;
padding-bottom : 2px;
}
.t_pay {
margin-left : 20px;
margin-top : 30px;
}
.right_block .pay ul {
text-align : left;
list-style-type : disc;
padding-left : 20px;
}
.right_block .pay li:first-child {
padding-top : 10px;
}
.right_block .pay li {
margin-left : 20px;
padding-left : 10px;
padding-top : 5px;
}
.warn {
margin-top : 30px;
}
.sberbank p {
padding-top : 15px;
}
.contract a, .sberbank a, .link {
color : #144DA6;
}
.right_block .contract ul {
float : left;
text-align : left;
margin-left : 20px;
}
.out_of_service .fa_1{
width:98%
}
.out_of_service #r_phone{
margin-left: 40px;
}
iframe.ifr{
width: 100%;
height: 800px;
}
