<div class="sale">
    <div class="step_1">
        {% for sale in sales %}
        <div class="fa_1">
            <span class="title">{{ sale.name }} c {{ sale.date_start }} по {{ sale.date_finish }}</span>
            <ul>
                <li><pre>{{ sale.description }}</pre></li>
            </ul>
        </div>
        {% endfor %}
    </div>
</div>