{% extends 'company/main.html' %}
{% block company_content %}
<div class="ind">
    <div class="step_1">
        <div class="center_title">
            <span>Документы</span>
        </div>
        <div class="fa_1">
            <a class="link" href="{{ MEDIA_URL }}docs/poopd.pdf">Политика в отношении обработки персональных данных</a><br>
            <a class="link" href="{{ MEDIA_URL }}docs/return_form.doc">Бланк заявл. на возврат денежных средств КТВ</a><br>
            <a class="link" href="{{ MEDIA_URL }}docs/rsew.pdf">Результаты специальной оценки труда</a><br>
            <a class="link" href="{{ MEDIA_URL }}docs/suspension_form.doc">Бланк на времен  приостановление</a><br>
            <a class="link" href="{{ MEDIA_URL }}docs/termination_form.doc">Бланк заявл. на расторж КТВ</a><br>
            <a class="link" href="{{ MEDIA_URL }}docs/request_ktv.doc">Заявка на КТВ</a><br>
            <a class="link" href="{{ MEDIA_URL }}docs/license.pdf">Лицензия</a><br>
            <a class="link" href="{{ MEDIA_URL }}docs/rules.pdf">Правила</a><br>
        </div>
    </div>
</div>
{% endblock %}