{% extends 'company/main.html' %}
{% block company_content %}
<div class="center_title">
    <span>Лицензия</span>
</div>
    <iframe src="/media/docs/license.pdf" width="99%" height="800px" alt="Попробуйте в другом браузере"></iframe>
{% endblock %}