{% extends 'base.html' %}
{% load static from staticfiles %}
{% block head %}
    <link href="{% static 'css/company.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/support.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    {% include "company/menu.html" %}
    <div class="right_block">
        {% block company_content %}{% endblock %}
    </div>
{% endblock %}