<div id="over_menu">
    <ul id="cont_menu">
        <li>
            <a class="m" href="{% url 'main_index' %}"><span>Главная страница</span></a>
        </li>
        <li class="m">
            <a href="{% url 'index_company' %}"><span>Документы</span></a>
        </li>
        <li class="m">
            <a href="{% url 'license_page' %}"><span>Лицензия</span></a>
        </li>
        <li class="m">
            <a href="{% url 'rules_page' %}"><span>Правила</span></a>
        </li>
    </ul>
    <div id="fl"></div>
</div>