<div class="connect">
    <div class="center_title">
        <span>Присоединяйтесь к нам</span>
    </div>
    <div class="fa_1">
        <span class="title">
            Оставьте заявку на подключение к кабельному телевидению<br> по телефону
            {% for contact in contacts %}
                {{ contact.phone }}
            {% endfor %}
            или заполните форму:
        </span>
        <form id="form_ticket_1"  action="{% url 'requisition_post' %}" method="POST">
            {% csrf_token %}
            {{ requisitions.street }}
            <select id="street_sel" name="street_sel">
                <option selected disabled>Выберите улицу</option>
                {% for street in r_streets %}
                    <option value="{{street.id}}">{{street.name}}</option>
                {% endfor %}
            </select>
            {{ requisitions.house }}
            <select id="house_sel" name="house_sel">
                <option selected disabled>Выберите дом</option>
            </select>
                {{ requisitions.apartment }}
                {{ requisitions.name }}
                <div class="no_sh">
                    <label>
                       {{  requisitions.no_sh }}
                        <span>Адреса нет в списке</span>
                    </label>
                </div>
                {{ requisitions.phone }}
                <input id="id_status" maxlength="20" name="status" value="Новая заявка" type="hidden">
            <input class="but_subm" id="but_ticket_1" type="submit" value="Отправить"/>
        </form>
    </div>
    {% include 'sale/index.html' %}
</div>