{% spaceless %}
{% for chanel in chanels %}
<tr>
    <td class="c_1">
        {% for number in chanel.number.all %}
            {% if not forloop.first %}, {% endif %}
            {{ number }}
        {% endfor %}
        </p>
    </td>
    <td>
        <a href="{{ chanel.url }}" target="_blank">
                <img src="{{ MEDIA_URL }}{{ chanel.logo_image }}" alt="{{ chanel.name }}" />
                <br>{{ chanel.name }}
        </a>
    </td>
    <td>
        {% for quality in chanel.quality.all %}
            {% if not forloop.first %}, {% endif %}
            {{ quality }}
        {% endfor %}
    </td>
    <td>
        <p class="theme">
            {% for theme in chanel.themes.all %}
                {% if not forloop.first %}, {% endif %}
                {{ theme }}
            {% endfor %}
        </p>
        <p>{{ chanel.description }}</p>
    </td>
</tr>
{% endfor %}
{% endspaceless %}