{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="ООО ТВК">
    <meta name="keywords" content="Ростов-на-Дону, ТВК, ТВК-Ростов">
    <link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:400,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'/>
    <link rel="icon" href="/media/pic/favicon.ico" type="image/x-icon" />
    <script src="{% static 'js/jquery-2.1.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.inputmask.bundle.min.js' %}" type="text/javascript"></script>
    {% block head %}{% endblock %}
</head>
<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter28114284 = new Ya.Metrika({id:28114284,
                    webvisor:true,
                    clickmap:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/28114284" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<div class="head">
	<div class="info_head">
		{% for contact in contacts %}
		<div class="center_wrap">
			<div class="logo"><span class="name">{{ contact.name_short }}</span></div>
			<div class="inf_cont">
				<span class="t_number">{{ contact.phone }}</span>
				<span class="cont_c">Контактный центр</span>
			</div>
			<div class="room">
                <span class="oof"><a href="{% url 'out_of_service' %}">Вызов специалиста</a></span>
            </div>
		 </div>
		{% endfor %}
	</div>
{% block head_menu %}{% endblock %}
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>
<div class="footer">
    <div class="foob">
        <div class="center_wrap">
            <div class="ft_inf">
                <div class="about">
                    <span class="title">О компании</span>
                    <ul id="menu">
                        <li>
                            <a href="{% url 'index_company' %}">Документы</a>
                        </li>
                        <li>
                            <a href="{% url 'license_page' %}">Лицензия</a>
                            <!--<ul>
                                <li><a href="{% url 'rules_page' %}">Правила</a></li>
                            </ul>-->
                        </li>
                    </ul>
                </div>
                {% for contact in contacts %}
                <div class="contects">
                    <span class="title">Контакты</span>
                    <ul>
                        <li>{{ contact.phone }}</li>
                        <li><a href="mailto:{{ contact.email }}" >{{ contact.email }}</a></li>
                        <li>{{ contact.address }}</li>
                    </ul>
                </div>
                <div class="tvk">
                    <span class="title">{{ contact.name_full }}</span>
                    <ul>
                        <li>{{ contact.about }}</li>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="ft_c">
            <div class="ft_2">
            {% for contact in contacts %}
                <span>© 2014-{{ time|date:"Y" }}  {{ contact.name_full }}</span>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
</html>