{% extends 'base.html' %}
{% load static from staticfiles %}
{% block head_menu %}
<div class="head_menu">
    <div class="center_wrap">
        <ul>
            <li><a href="" class="hc">Подключение</a></li>
            <li><a href="" class="hch">Список ТВ каналов</a></li>
            <li><a href="{% url 'support' %}">Для абонентов</a></li>
        </ul>
    </div>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
{% block content %}
    <div class="collage">
        <img id="tv_channels_adv" alt="tv_channels_adv" src="{{ MEDIA_URL }}pic/collage.png"/>
    </div>
    {% include 'requisition/index.html' %}
    {% include 'cable_tv/index.html' %}
{% endblock %}